.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
    min-width: 500px;
    perspective: 1000px;
}

.flip_card {
    position: relative;
}

.card__cover,
.card__face {
    position: absolute;
    backface-visibility: hidden;
}

.card__face {
    transform: rotateY(180deg);
}

.card--open {
    transform: rotateY(180deg);
}

.card--hidden {
    opacity: 0;
    /*visibility: hidden;*/
    /*transition: opacity 0.3s, visibility 1s linear 0.3s;*/
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.card {
    width: 116px;
    height: 116px;
    transform-style: preserve-3d;
    transition: transform .5s, opacity 1s;
}