@font-face {
    font-family: 'Formular';
    src: local('Formular Regular'), local('Formular-Regular'),
    url('./fonts/Formular.woff2') format('woff2'),
    url('./fonts/Formular.woff') format('woff'),
    url('./fonts/Formular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: local('Formular Medium'), local('Formular-Medium'),
    url('./fonts/Formular-Medium.woff2') format('woff2'),
    url('./fonts/Formular-Medium.woff') format('woff'),
    url('./fonts/Formular-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Formular';
    src: local('Formular Bold'), local('Formular-Bold'),
    url('./fonts/Formular-Bold.woff2') format('woff2'),
    url('./fonts/Formular-Bold.woff') format('woff'),
    url('./fonts/Formular-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    --color-primary: #0083FC;
    --color-accent: #FF5533;

    --container-width: 1040px;
    --grid-column-width: 65px;
    --grid-gap: 13px;
}

* {
    all: unset;
    display: revert;
}

body {
    font-family: 'Formular', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-primary);
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--container-width);
}

.flex {
    display: flex;
    justify-content: space-between;
}
